*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title1{
    width: 100%;
    height: 100px;
}

.feature{
    width: 30%;
    height: 100%;
    float: left;
}
.feature h3{
    display: inline-block;
    text-transform: uppercase;
    padding-top: 35px;
    padding-left: 50px;
    font-weight: normal;
}

.feature a{
    text-decoration: none;
    padding-left: 30px;
    color: rgb(106, 160, 207);
}

.tieude{
    display: inline-block;
    padding: 30px;
    padding-left: 200px;
    text-transform: uppercase;
}

#page1{
    width: 20%;
    height: auto;
    background: rebeccapurple;
    float: left;
}

.func{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 130, 186);
    float: left;
}
.func a{
    text-decoration: none;
}
#toggle_sidebar0{
    display: none;
}
#toggle_sidebar{
    display: none;
}
#toggle_sidebar1{
    display: none;
}
#toggle_sidebar2{
    display: none;
}
.sidebar{
    display: none;
}

.sidebar0{
    display: none;
}
.sidebar1{
    display: none;
}
.sidebar2{
    display: none;
}


#toggle_sidebar0:checked ~.sidebar0{
    display: block;
}
#toggle_sidebar:checked ~.sidebar{
    display: block;
}
#toggle_sidebar1:checked ~.sidebar1{
    display: block;
}
#toggle_sidebar2:checked ~.sidebar2{
    display: block;
}

.tab-item a{ 
    text-decoration: none;
    color: white;
    
}

/* ----page 2 -----------*/
#page2{
    width: 77%;
    height: auto;
    float: right;
}
.tab-item{ 
    
    list-style: none;
    padding-left: 30px;
    background: rgb(21, 130, 186);
    border-bottom: 1px solid rgb(80, 85, 93);
    padding: 10px 30px;
   
}
 li.tab-item:hover{ 
   background-color: rgb(22, 130, 186);
   
}



label{
    cursor: pointer ;
    display: block;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid black;
    padding: 10px 30px;
}

#list-quanly{
    width: 100%;
    height: 35%;
}

.quanly{
    width: 20%;
    height: 100px;
    border-bottom: 5px solid white;
    border-right:5px solid white ;
    float: left;
}

.quanly h3{
    padding: 30px 0px 0px 50px;
    font-size: 14px;
    color: white;
}

.quanly a{
    text-decoration: none;
}
.quanly i{
    padding: 10px;
    color: white;
}

#quanlysp{
    width: 100%;
    height: 610px;
}

#quanlysp h4{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    background: rgb(0, 104, 201);
    color: white;
}
#quanlysp h3{
    font-size: 20px;
    color: rgb(0, 99, 199) ;
}

.tbl-main{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.tbl-main td{
    width: auto;
    height: 50px;
    border: 1px solid black;
}

.tbl_main th{
    border: 1px solid black;
}

.tr1 th{
    background: rgb(13, 110, 253);
    border: 1px solid black;
    text-align: center;
    color: black;
}
.tr2 td{
    width: 10%;
    height: 50px;
    text-align: center;
    color: black;
}

tr{
    text-align: center;
    border: 1px solid rgb(0, 110, 203)   ;
}

/* #quanlysp{
    display: none;
}

.tab-pane.active {
    display: block;
  } */

/* -----------thêm---------------- */


#add{
    width: 100%;
    height: 300px;
    background: wheat;

}

#add h1{
    text-align: center;
}
#add-tbl{
    float: left;
    margin-left: 100px;
}

.add-ip{
    margin-left: 50px;
    margin-top: 10px;
}

.add-ip h3{
    display: inline-block;
}

.add1 input{
    width: 200px;
    height: 30px;
    
}
.btnAdd{
   padding: 20px;
   float: left;
   margin-left: 150px;
   margin-top: 20px;
}

.btnThoat{
    padding: 20px;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

#add{
    display: none;
    position: fixed;
    right: 30%;
    top: 35%;
    padding: 10px;
    width: 500px;
    height: 300px;
}
#showcart{
    width: 80%;
    height: auto;
    background: white;
    margin-left: 10%;
    border: 1px solid black;
    /* display: none; */
}
#showcart img{
    width: 60%;
    height: 30%;
    border: 1px solid black;
}
#showcart h1{
    text-align: center;

}
.add_info{
    width: 31%;
    height: auto;
    display: inline-block;  
    margin-left: 12%;
    margin-top: 10px;
}

.add_info input, .add_info select{
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-top: 10px;
}

.add_info_mota{
    width: 78%;
    height: auto;
    margin-left: 12%;
    margin-top: 10px;
}
.add_info img{
    width: 100px;
    height: 30px;
}
.btn_info{
    width: 40%;
    height: 30%;
    display: flex;
    margin-left: 30%;
    margin-top: 50px;
}

.btn_add input{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    border: 2px solid black;
}
.btn_exit{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}
.btn_exit a{
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}


.cancel{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 44%;
    margin-bottom: 15px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
}

.cancel a{

    text-decoration: none;
    color: black;
}

.content_admin{
    width: 100%;
    height: auto;
}

